@import "tailwindcss";

@plugin "daisyui"{
    themes: false;
}


@theme {
  --font-menu: "DM Sans", "sans-serif"; 
  --color-kala2: #F5F5F3;
  --color-kala3: #767676;
}

body{
    font-family: "DM Sans", sans-serif;
}


.autoAnim{
    animation: autoAnim both;
    animation-timeline: view();
}
@keyframes autoAnim {
    0%{
        opacity: 0;
        scale: 0;
        transform: translateY(100px);
    }
    50%{
        opacity: 1;
        scale: 1;
        transform: translateY(0);
    }

}



.autoAnim2{
    animation: autoAnim2 both;
    animation-timeline: view();
}
@keyframes autoAnim2 {
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    50%{
        opacity: 1;
        transform: translateX(0);
    }

}
